.git
.vs
bin
obj
**/bin
**/obj

frontend/node_modules
frontend/dist
frontend/.vite
frontend/*run*.log
backend/wwwroot

External
ModelTraining
NewFolder

*.log
*.err.log
backend/app.db
backend/app.db-shm
backend/app.db-wal
app.db-shm
app.db-wal
